{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
<section class="container">
    <div class="row">
        <h1 class="text-center">Messagerie</h1>
        <p>Résumé de la messagerie</p>
        <p>Reçus:{{ app.user.received|length }}</p>
        <p>Envoyés: {{ app.user.sent|length }}</p>
        <a class="btn btn-primary small" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
           Voir mes dossiers
        </a>
        <a href="{{ path("send") }}" class="btn btn-primary small mt-2">envoyer un message</a>

        <div class="col">

        </div>
    </div>
</section>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h2 class="offcanvas-title" id="offcanvasExampleLabel">Mes dossiers</h2>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="list-group">
            <a href="{{ path("message") }}" class="btn btn-warning list-group list-group-item list-group-item-action active">accueil</a>
        </div>
        <div class="list-group">
            <a href="{{ path("sent") }}" class="btn btn-warning list-group list-group-item list-group-item-action ">Boîte de réception</a>
        </div>
        <div class="list-group">
            <a href="{{ path("message") }}" class="btn btn-warning list-group list-group-item list-group-item-action ">Elément envoyés</a>
        </div>
    </div>
</div>

{% endblock %}
