{% extends 'admi.html.twig' %}

{% block title %}New Immobilier{% endblock %}

{% block body %}
    <h1 class="text-center text-success">Create new Immobilier</h1>

    {{ include('immobilier/_form.html.twig') }}
   {# {% for image in immobilier.images %}
        <div>
            <img src="{{ asset('/uploads/'~ image.imageName) }}" alt="Image" width="150">
            <a href="{{ path('immobilier_delete_image', {'id': image.id}) }}" data-delete data-token="{{ csrf_token('delete'~image.id) }}">supprimer</a>
        </div>
    {% endfor %}#}

    <a href="{{ path('immobilier_index') }}">back to list</a>
{% endblock %}
